In [1]:
import pandas as pd
from datetime import datetime,timedelta
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("refined_data.csv")

In [3]:
print(df.head)

<bound method NDFrame.head of             DATE START TIME  END TIME  USAGE      APPLICATION
0     11-01-2023   11:49:42  11:50:34     52           Thunar
1     11-01-2023   11:50:34  11:50:51     17        xfdesktop
2     11-01-2023   11:50:51  11:50:53      2  panel-1-whisker
3     11-01-2023   11:50:53  11:52:16     83     sublime_text
4     11-01-2023   11:52:16  11:52:20      4  panel-1-whisker
...          ...        ...       ...    ...              ...
1497  25-01-2023   14:05:53  14:05:54      1           Thunar
1498  25-01-2023   14:05:54  14:05:56      2     sublime_text
1499  25-01-2023   14:05:56  14:05:57      1           Thunar
1500  25-01-2023   14:05:57  14:05:58      1     sublime_text
1501  25-01-2023   14:05:58  14:05:59      1        qterminal

[1502 rows x 5 columns]>

# Show the pie chart of the current day computer usage in pie chart

In [4]:
# today = datetime.now().strftime("%d-%m-%Y")
today="25-01-2023"

In [5]:
today_data=df.loc[(df['DATE']==today)&(df['APPLICATION']!='xfdesktop'),['USAGE','APPLICATION']]
today_data

      USAGE   APPLICATION
1365     12      engrampa
1366     20   firefox-esr
1367      3        Thunar
1368      3      engrampa
1369     23        Thunar
...     ...           ...
1497      1        Thunar
1498      2  sublime_text
1499      1        Thunar
1500      1  sublime_text
1501      1     qterminal

[134 rows x 2 columns]

In [17]:
data=today_data.groupby('APPLICATION')
print(data.head())

      USAGE       APPLICATION
1365     12          engrampa
1366     20       firefox-esr
1367      3            Thunar
1368      3          engrampa
1369     23            Thunar
1370    245       firefox-esr
1371      1      sublime_text
1372    182       firefox-esr
1373      6   panel-1-whisker
1374      1       firefox-esr
1375     19     sqlitebrowser
1376      2   panel-1-whisker
1377      1       firefox-esr
1378     44         qterminal
1380      2         qterminal
1383      2   panel-1-whisker
1384      2      sublime_text
1386    315      sublime_text
1388    381      sublime_text
1390    341      sublime_text
1392     18         qterminal
1394      2         qterminal
1396      1         qterminal
1434     19            Thunar
1436      2            Thunar
1438      2            Thunar
1442     52       soffice.bin
1444      2       soffice.bin
1451      2   panel-1-whisker
1489    170         nm-applet
1491      3   panel-1-whisker
1492     49  gnome-calculator

In [14]:
data=today_data.groupby('APPLICATION')['USAGE'].sum()
# print(data)
data=data.sort_values(ascending=False)
print(data)
# print(data.to_numpy())

APPLICATION
firefox-esr         6883
sublime_text        2040
qterminal            186
nm-applet            170
Thunar                70
soffice.bin           54
gnome-calculator      49
sqlitebrowser         19
engrampa              15
panel-1-whisker       15
Name: USAGE, dtype: int64

In [10]:
data2=data[:5]
data3=data[5:]
# print(data3)
# data3.sum()
# data2.shape
# data3.shape
data2.sum()

9349